@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9mqdw5');
  src:  url('fonts/icomoon.eot?9mqdw5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9mqdw5') format('truetype'),
    url('fonts/icomoon.woff?9mqdw5') format('woff'),
    url('fonts/icomoon.svg?9mqdw5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\e90c";
}
.icon-picture:before {
  content: "\e90d";
}
.icon-info-circle:before {
  content: "\e900";
}
.icon-printer:before {
  content: "\e901";
}
.icon-chevron-down-circle:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e903";
}
.icon-exit-up:before {
  content: "\e904";
}
.icon-save:before {
  content: "\e905";
}
.icon-checkmark-circle:before {
  content: "\e906";
}
.icon-chevron-left:before {
  content: "\e907";
}
.icon-chevron-right:before {
  content: "\e908";
}
.icon-cross:before {
  content: "\e909";
}
.icon-options:before {
  content: "\e90a";
}
.icon-list:before {
  content: "\e90b";
}
